/* admin.component.css */
.custom-input {
    border-color: #00ff95;
    border-radius: 10px;
    color: #1eff00;
  }
  
  .custom-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 34, 0.25);
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  }